<div>

  <h2 class="header"> ScribbleChampions! </h2>
</div>
  <div class="">
      <h5 class="prompter"><%= @prompt %></h5>
  </div>
</div>
  <div id="numbercount">
    <div id="counter">
      15
    </div>
  </div>
    <p>
      <div class="row">
        <form>
          <div class="small-4 columns">
          <label>Drawing tool:</label>
            <select id="dtool">
              <option value="rect">Rectangle</option>
              <option value="pencil">Pencil</option>
              <option value="line">Line</option>
            </select>
            </div>
            <div class="small-4 columns">
          <label>Color:</label>
            <select id="color">
              <option value="black">Black</option>
              <option value="red">Red</option>
              <option value="blue">Blue</option>
              <option value="yellow">Yellow</option>
              <option value="green">Green</option>
              <option value="violet">Violet</option>
              <option value="tan">Tan</option>
            </select>
            </div>
            <div class="small-4 columns">
          <label>Thickness:</label>
          <select id="thickness">
              <option value="thin">Thin</option>
              <option value="normal">Normal</option>
              <option value="thick">Thick</option>
              <option value="thicker">Thicker</option>
            </select>
          </div>
        </form>
        </div>
        <div class="row">
          <div class="small-3 columns small-centered">
          <div>
            <a class="button" id="clear-button">Clear</a>
          <div class="small-4 columns">
            <form>
              <span id="timey">Timer!</span><input type="text" id="num_input">
            </form>
          </div>
        </div>
    </p>
    </div>

    <div id="container" class="row">
      <div class="small-12">
        <canvas id="imageView" width="850" height="630" class="small-centered">
          <p>Unfortunately, your browser is currently unsupported by our web
          application.  We are sorry for the inconvenience. Please use one of the
          supported browsers listed below, or draw the image you want using an
          offline tool.</p>
          <p>Supported browsers: <a href="http://www.opera.com">Opera</a>, <a
            href="http://www.mozilla.com">Firefox</a>, <a
            href="http://www.apple.com/safari">Safari</a>, and <a
            href="http://www.konqueror.org">Konqueror</a>.</p>
          </canvas>
        </div>
    </div>
