.test {
  border: red solid;
}

body {
  background-color:#f2f2fe;
}

#numbercount {
  text-align:center;
  font-size:3.5em;
  font-family: 'Fredericka the Great', cursive;
}

.header {
  text-align:center;
  font-size:4em;
  font-family: 'Fredericka the Great', cursive;
}

.prompter {
  text-align:center;
  font-size:2em;
  font-family: 'Amatic SC', cursive;
}


#container {
}
#imageView {
  border: 1px solid #000;
  background-color:white;
}
#imageTemp {
  position: absolute; top: 1px; left: 1px;
}

#timey {
  font-size:1.75em;
  font-family: 'Amatic SC', cursive;
}

label {
  font-family: 'Fredericka the Great', cursive;
}
